services:
  # =========================
  # Zookeeper
  # =========================
  # zookeeper:
  #   image: zookeeper
  #   container_name: zookeeper
  #   environment:
  #     - ALLOW_ANONYMOUS_LOGIN=yes
  #   ports:
  #     - "2181:2181"

  # =========================
  # Kafka
  # =========================
  kafka:
    image: apache/kafka:4.2.0-rc2
    container_name: kafka
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    ports:
      - "9092:9092"

  # =========================
  # Spark Master
  # =========================
  # spark-master:
  #   image: public.ecr.aws/bitnami/spark:latest
  #   container_name: spark-master
  #   environment:
  #     - SPARK_MODE=master
  #   ports:
  #     - "7077:7077"
  #     - "8080:8080"

  # =========================
  # Spark Workers (3 Nodes)
  # =========================
  # spark-worker-1:
  #   image: public.ecr.aws/bitnami/spark:latest
  #   container_name: spark-worker-1
  #   depends_on:
  #     - spark-master
  #   environment:
  #     - SPARK_MODE=worker
  #     - SPARK_MASTER_URL=spark://spark-master:7077

  # spark-worker-2:
  #   image: public.ecr.aws/bitnami/spark:latest
  #   container_name: spark-worker-2
  #   depends_on:
  #     - spark-master
  #   environment:
  #     - SPARK_MODE=worker
  #     - SPARK_MASTER_URL=spark://spark-master:7077

  # spark-worker-3:
  #   image: public.ecr.aws/bitnami/spark:latest
  #   container_name: spark-worker-3
  #   depends_on:
  #     - spark-master
  #   environment:
  #     - SPARK_MODE=worker
  #     - SPARK_MASTER_URL=spark://spark-master:7077

  # =========================
  # HDFS NameNode
  # =========================
  # hdfs-namenode:
  #   image: bde2020/hadoop-namenode
  #   container_name: hdfs-namenode
  #   environment:
  #     - CLUSTER_NAME=weather-cluster
  #   ports:
  #     - "9870:9870"
  #   volumes:
  #     - namenode:/hadoop/dfs/name

  # =========================
  # HDFS DataNodes (3 Storage Nodes)
  # =========================
  # hdfs-datanode-1:
  #   image: bde2020/hadoop-datanode
  #   container_name: hdfs-datanode-1
  #   depends_on:
  #     - hdfs-namenode
  #   environment:
  #     - SERVICE_PRECONDITION=hdfs-namenode:9870
  #   volumes:
  #     - datanode1:/hadoop/dfs/data

  # hdfs-datanode-2:
  #   image: bde2020/hadoop-datanode
  #   container_name: hdfs-datanode-2
  #   depends_on:
  #     - hdfs-namenode
  #   environment:
  #     - SERVICE_PRECONDITION=hdfs-namenode:9870
  #   volumes:
  #     - datanode2:/hadoop/dfs/data

  # hdfs-datanode-3:
  #   image: bde2020/hadoop-datanode
  #   container_name: hdfs-datanode-3
  #   depends_on:
  #     - hdfs-namenode
  #   environment:
  #     - SERVICE_PRECONDITION=hdfs-namenode:9870
  #   volumes:
  #     - datanode3:/hadoop/dfs/data

  # =========================
  # Weather Fetcher (Producer)
  # =========================
  weather-fetcher:
    build: ./weather-fetcher
    container_name: weather-fetcher
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:9092
      - TOPIC=weather_raw

  # =========================
  # Dashboard (Placeholder)
  # =========================
  dashboard:
    image: docker.arvancloud.ir/python:3.11
    container_name: dashboard
    command: ["sleep", "infinity"]
    ports:
      - "8000:8000"

volumes:
  namenode:
  datanode1:
  datanode2:
  datanode3: